:root{
    /* color */
    --clr-Rangoon_Green :#181818 ;
    --clr-Dark_Jungle_Green:#212121;
    --clr-Iridium :#3D3D3D;
    --clr-White:#FFFFFF;
    --clr-Silver_Chalice:#AAAAAA;
    --clr-Bright_Orange:#FF5B00;
/* sizes */
--size-xxs:0.5rem;
--size-xs:0.75rem;
--size-sm:0.875rem;
--size-md:1rem;
--size-lg:1.125rem;
--size-xlg:1.25rem;
--size-2xlg:1.5rem;
--size-3xlg:1.875rem;
--size-4xlg:2.25rem;
--size-5xlg:3.75rem;
--size-6xlg:3.75rem;
--size-7xlg:4.5rem;
--size-8xlg:6rem;
--size-9xlg:8rem;
--size-10xlg:10rem;
}


*,::before,::after{
    box-sizing: border-box;
}
*{
    margin: 0%;
    padding: 0%;
    line-height: calc (1em+0.5rem);
    position: relative;
}
body{
 
    background-color: var(--clr-Iridium);
    
}

