.eva_back{
    position: absolute;
    width: 100%;
    height: 1400px;
}









 .container_1{
    position: reltive;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    display: flex;
    


    }    
    
    .container img{
    width: 700px;
    position: absolute;
    bottom: -500px;
    right: 200px;
    }
    .swiper-text{
        
        align-items: center;
        left: 120rem;
        top: 20rem;
        font-size: var(--size-4xlg);
        color: var(--clr-White);
        font-style: light 300;
        
        padding: 2.18rem;
        
        
        
    }   

    .eva_titel{
        width: 60rem;
        position: relative;
        left: 5rem;
    }
    .btn{
        font-size: var(--size-5xlg);
        padding: 2rem 3rem;
        background: var(--clr-Bright_Orange);
        color: var(--clr-White);
        align-items: center;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        column-gap: 00.5rem;
        max-width: 400px;
        height: 100px;
        border-radius: 5rem;
        left: 30rem;
        top: 200px;
        text-decoration: none
    }
    .btn:hover{
        background-color: var(--clr-Iridium);
    }
    .shdow{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 800px;
        background: linear-gradient(180edg
        hsla(0, 63%, 74%, 0)58%
        hsl(0,0%,0%)78%);
    }
